configuration {
  show-icons:         true;
  icon-theme:         "Zafiro";
  terminal:           "alacritty";
  cycle:              false;
  hide-scrollbar:     true;
  disable-history:    false;
  hover-select:       true;
  me-select-entry:    "MousePrimary";
  me-accept-entry:    "!MousePrimary";
  me-accept-custom:   "!Control+MousePrimary";
}
